@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

body {
  font-family: monospace;
  overscroll-behavior: none;
}

.revert-tailwind {
  all: initial;
}

.revert-tailwind > * {
  all: revert;
}

.react-lazylog {
  border-radius: 0px;
}

.wrapped-lines .log-part {
  padding-right: 6.5px;
  display: inline;
}

.log-part {
  display: inline;
}
